*{
	font-family: 'Rowdies', cursive;

}

a{
	color: #00189B;
	text-decoration: none;
}

.container-text{
	position: relative;
	top: 25vh;
}

.numero:hover{
	color: #e00;
	transition: all .4s
}

.numero{
	transition: all .4s
}

.container{
	text-align: center;
}

.a-home i:hover{
	position: relative;
	bottom: .5mm;
	

}


.div__home:hover{
	
}

.text__h4-active a:hover{
	color: #152372;
}